nav {
  padding: 60px 15px 60px 30px;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 9999;
  transition: 0.32 ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.32s ease-in-out;
}

.page-scrolled {
  padding: 0px 30px 0px 45px;
  background-color: var(--primaryColor);
}

/* ======= left branding of navbar ======= */
.brand {
  align-items: center;
}

/* ======= right side of navbar ======= */
.nav-links {
  display: flex;
  font-size: 1.12rem;
  background-color: transparent;
}

/* ======= page navigators ======= */
.page-links {
  display: flex;
  align-items: center;
}

.page-link-buttons {
  margin: 0 15px;
}

/* ======= social navigators ======= */
.social-links {
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link-buttons {
  margin: 0 3px;
  width: 44px;
  height: 44px;
  padding-left: -100px;
  background-color: rgba(217, 217, 217, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  z-index: 1;
  position: relative;
}

.social-link-buttons:hover {
  color: var(--primaryColor);
}

.social-link-buttons::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  z-index: -1;
  background-color: var(--fontColor);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-link-buttons:hover::before {
  transform: scale(1);
}

/* ======= contact me ======= */
.contact {
  border: 2px double var(--fontColor);
  padding: 17px 35px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.contact:hover {
  color: var(--primaryColor);
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: var(--fontColor);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s ease-in-out;
}

.contact:hover::before {
  transform: scaleX(1);
}

/* ======= menu button ======= */
.menu {
  display: none;
  background-color: transparent;
  color: var(--fontColor);
  cursor: pointer;
  border: none;
}

@media only screen and (max-width: 1023px) {
  .menu {
    display: block;
  }

  nav {
    padding: 60px 15px 60px 10px;
  }

  .page-scrolled {
    padding: 0px 20px 0px 15px;
  }

  .nav-links {
    padding: 25px 15px;
    background-color: transparent;
    position: fixed;
    border-radius: 1rem;
    right: -50%;
    top: 85px;
    flex-direction: column;
    margin-top: 25px;
    transition: all 0.32s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .nav-links.scrolled {
    padding: 20px 15px;
    margin-top: 0px;
  }

  .nav-links.active {
    background-color: rgba(18, 18, 18, 0.3);
    backdrop-filter: blur(10px);
    right: 1%;
  }

  .nav-links.active.scrolled {
    background-color: var(--primaryColor);
  }

  .page-links {
    flex-direction: column;
  }

  .page-link-buttons {
    margin: 3px;
  }

  .social-links {
    margin: 10px 11px 15px 10px;
  }
}
