.skill {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.skill-header {
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: -30px;
  padding: 10px 20px;
  font-size: 40px;
  background-color: var(--quaternaryColor);
  box-shadow: 0.5em 0.25em 10.5em 0 rgba(0, 0, 0, 0.35),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.25);
}

.skill-fields {
  display: flex;
}

.skill-field {
  background-color: var(--secondaryColor);
  padding: 20px 30px 10px 30px;
  margin: 10px 15px;
  border-radius: 20px;
  flex-grow: 1;
  box-shadow: 0.5em 0.25em 7.5em 0 rgba(0, 0, 0, 0.35),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15);
}

.skill-list {
  padding: 10px 30px;
  font-size: 20px;
  line-height: 1.5em;
}

@media only screen and (max-width: 1170px) {
  .skill-fields {
    flex-direction: column;
    padding: 0 10px;
  }
}
