/* ======= Custom Font ======= */
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/* ======= App colors ======= */
:root {
  --primaryColor: #3b5249;
  --secondaryColor: #576057;
  --tertiaryColor: #6f796f;
  --quaternaryColor: #9faf90;
  --fontColor: #fff;
}

/* ======= Default css ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-image: radial-gradient(
    rgba(59, 83, 73, 0.55),
    rgba(59, 83, 73, 0.65),
    rgba(59, 83, 73, 0.65),
    rgba(59, 83, 73, 0.55)
  );
  height: 100vh;
  color: var(--fontColor);
  font-family: "Centra", sans-serif;
}

a {
  color: var(--fontColor);
  text-decoration: none;
  font-family: "Centra", sans-serif;
}

button {
  font-family: "Centra", sans-serif;
}

.wave {
  background-image: url("./assets/image/wave.svg");
  aspect-ratio: 960/300;
}

.wave2 {
  background-image: url("./assets/image/wave2.svg");
  aspect-ratio: 900/300;

  max-height: 700px;
}

.spacer {
  position: absolute;
  width: 100%;

  background-size: cover;
  transform: translateY(-1px);
  overflow: hidden;
}

@media only screen and (max-width: 1170px) {
  .wave {
    aspect-ratio: 960 / 900;
  }

  .wave2 {
    aspect-ratio: 900 / 900;
  }
}

.flip {
  transform: rotate(180deg) translateY(-2px);
}

.bottom {
  bottom: 0;
}
